.DS_Store
*.iml
.idea/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/pubspec_overrides.yaml

# Keep app lockfile, ignore package lockfiles.
mobile_core_sdk/**/pubspec.lock
